<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>spacemantis</title>

    <style type="text/css">
      html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
      body { background: white; }
    </style>

    <script>
      var exports = {};
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/Stats.js"></script>
    <script src="/js/Three.js"></script>
    <script src="/js/Box2dWeb-2.1.a.3.js"></script>
    <script src="/js/FollowCamera.js"></script>
    <script src="/js/SpaceMantis.js"></script>
    <script src="/js/main.js"></script>
    <script>
    console.log(exports);
    </script>
  </head>
  <body onload="main();"><div class="info">Loading...</div></body>
</html>
